/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Edu TAS Beginner";
    font-size: 30px;
}

/* .debug {
    border: 1px solid red;
} */

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px 10px;
    position: relative;
}

/*********************
HEADER
**********************/
header {
    background-image: url("../img/wall.png");
    height: 120px;
}

#title {
    display: flex;
    justify-content: center;
    padding: 20px;

}

/*********************
MAIN
**********************/
main {
    background-image: url("../img/cork.png");
    height: 100%;

}

.box-card {
    justify-content: center;
    display: flex;
    margin: 20px;
    gap: 20px;
    width: 1147px;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
    width: max-content;
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 20px;
    position: relative;

}

.pin {
    position: absolute;
    left: 46%;
    top: 0%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1.4);
    transform: rotate(15deg) scale(1.2);
    z-index: 1;
    cursor: pointer;
}

.card:hover .pin {
    display: none;
}

.card-container {
    padding: 2px 16px;
    background-color: white;
}

p {
    font-size: 16px;
    position: relative;
    right: 15px;
}

#overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: none;
}

.overlay img {
    width: 300px;
}

#overlay-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-bottom: 15px;
    width: 50px;
}